---
import Facebook from "@assets/icons/facebook";
import Instagram from "@assets/icons/instagram";
import Twitter from "@assets/icons/twitter";
import Youtube from "@assets/icons/youtube";
---

<div
  class="fixed top-[45%] right-0 bg-primary p-3 rounded-l-lg sm:p-4 z-50 xl:py-6 xl:top-[40%]"
>
  <div class="flex flex-col items-center justify-center space-y-5">
    <div
      class="group [&>*>svg]:w-[19px] [&>*>svg]:h-[19px] [&>*>svg]:sm:w-[25px] [&>*>svg]:sm:h-[25px] [&>*>svg]:xl:w-[30px] [&>*>svg]:xl:h-[30px] [&>*>svg>path]:hover:fill-yellow [&>*>svg>path]:transition-all"
    >
      <a
        href="https://www.facebook.com/ChittyOnTour/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Facebook />
        <span class="sr-only">Facebook</span>
      </a>
    </div>
    <div
      class="[&>*>svg]:w-[19px] [&>*>svg]:h-[19px] [&>*>svg]:sm:w-[25px] [&>*>svg]:sm:h-[25px] [&>*>svg]:xl:w-[30px] [&>*>svg]:xl:h-[30px] [&>*>svg>path]:hover:fill-yellow [&>*>svg>path]:transition-all"
    >
      <a
        href="https://twitter.com/chittyontour"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Twitter />
        <span class="sr-only">Twitter</span>
      </a>
    </div>
    <div
      class="[&>*>svg]:w-[19px] [&>*>svg]:h-[19px] [&>*>svg]:sm:w-[25px] [&>*>svg]:sm:h-[25px] [&>*>svg]:xl:w-[30px] [&>*>svg]:xl:h-[30px] [&>*>svg>path]:hover:fill-yellow [&>*>svg>path]:transition-all"
    >
      <a
        href="https://www.instagram.com/chittyontour/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Instagram />
        <span class="sr-only">Instagram</span>
      </a>
    </div>
    <!-- <div class="[&>*>svg]:w-[19px] [&>*>svg]:h-[19px] [&>*>svg]:sm:w-[25px] [&>*>svg]:sm:h-[25px] [&>*>svg]:xl:w-[30px] [&>*>svg]:xl:h-[30px]  [&>*>svg>path]:hover:fill-yellow [&>*>svg>path]:transition-all">
            <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
                <Youtube />
                <span class="sr-only">Youtube</span>
            </a>
        </div> -->
  </div>
</div>
